body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

:root {
  --main-title-color: #212121;
  --secondary-title-color: #303030;
  --main-text-color: #757575;
  --secondary-text-color: #9da4bd;
  --accent-color: #2196f3;
  --h1-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo-icon {
  fill: currentColor;
}

.logo-icon:hover, .logo-icon:focus {
  background-color: #2196f3;
  fill: white;
}

.header__logo-icon {
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo-icon:hover, .header__logo-icon:focus {
  fill: #03a9f4;
}

.header-link:focus, .header-link:hover {
  background-color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.contactq {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  margin-right: 93px;
}

.logoweb {
  color: var(--accent-color);
}

.header__list-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__list-item {
  position: relative;
}

.header__list-item:not(:last-child) {
  margin-right: 50px;
}

.underline--main::after {
  position: absolute;
  content: '';
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 1px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.underline--main::after:hover::after {
  color: #03a9f4;
}

.underline--second::after {
  position: absolute;
  content: '';
  display: flex;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 1px;
}

.cont__mail {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont__mail:hover, .cont__mail:focus {
  fill: #03a9f4;
}

.hero {
  background-color: #2f303a;
  height: 600px;
  padding-top: 200px;
  display: block;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--h1-color);
}

.main__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  color: var(--h1-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.btn:hover, .btn:focus {
  color: var(--h1-color);
  background-color: var(--accent-color);
}

.soc__marg:not(:last-child) {
  margin-right: 10px;
}

.soc__marg .foot__soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__marg .foot__soc-list:focus, .soc__marg .foot__soc-list:hover {
  background-color: #2196f3;
  fill: white;
}

.foot__logo-icon {
  fill: #ffffff;
}

.team__marg:not(:last-child) {
  margin-right: 10px;
}

.tlm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tlm:focus, .tlm:hover {
  background-color: #2196f3;
  fill: white;
}

.tlm:focus.team__logo-icon,
.tlm:focus .team__logo-icon, .tlm:hover.team__logo-icon,
.tlm:hover .team__logo-icon {
  fill: white;
}

.tlm .team__logo-icon {
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pluses {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.pluses__list {
  display: flex;
}

.pluses__item--cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.pluses__item {
  width: 270px;
}

.pluses__item:not(:last-child) {
  margin-right: 30px;
}

.pluses__item .pluses__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.pluses__text {
  font-size: 14px;
  line-height: 1.71;
}

.cases__title {
  text-align: center;
  margin-bottom: 50px;
}

.cases__list {
  display: flex;
}

.cases {
  padding-bottom: 90px;
}

.cases__item:not(:last-child) {
  margin-right: 30px;
}

.case__cont {
  position: relative;
}

.cases__text {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  bottom: 2px;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.soc__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.team__info {
  background-color: white;
  border-radius: 4px;
}

.team__list {
  display: flex;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list-item:not(:last-child) {
  margin-right: 30px;
}

.teammate {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--main-title-color);
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.17;
  color: var(--main-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border: 1px solid #03a9f4;
}

.clients__link:hover .clients__link-icon {
  fill: #2196f3;
}

.clients__link:focus .clients__link-icon {
  fill: #2196f3;
}

.clients__marg:not(:last-child) {
  margin-right: 30px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__link-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__cont {
  display: flex;
}

.footer__soc-link {
  margin-left: 72px;
  padding-top: 12px;
}

.footer__title {
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer__addres-item:not(:last-child) {
  margin-bottom: 9px;
}

.foot__logo {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.foot-link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
}

.subscribe {
  display: flex;
  margin-left: 93px;
  padding-top: 12px;
}

.sub__send {
  display: flex;
  margin-top: 20px;
}

.sub__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 20px;
}

.sub__btn-logo {
  fill: white;
  margin-left: 10px;
}

.sub__title-mail {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: baseline;
}

.footer__placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub__button {
  display: flex;
  position: relative;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.86;
  color: var(--h1-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
}

.filt-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:hover, .btn:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.case {
  display: flex;
  flex-wrap: wrap;
}

.case-name {
  font-size: 18px;
  line-height: 2;
  color: var(--main-title-color);
}

.case-text {
  font-size: 14px;
  line-height: 1.88;
}

.case-item {
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.case-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.case-item:hover .overlay-text {
  transform: translateY(-100%);
  opacity: 1;
}

.case-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.case-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.case-border {
  border: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin-top: -5px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  padding: 63px 24px;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
}

.pointer {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__form-lable {
  top: 0;
  left: 0;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal__form-input {
  position: relative;
  width: 448px;
  height: 40px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover, .modal__form-input:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal__logo-icon {
  position: absolute;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover + .modal__logo-icon,
.modal__form-input:focus + .modal__logo-icon {
  fill: var(--accent-color);
}

.textarea__cont {
  display: flex;
  flex-direction: column;
}

.modal__txt {
  width: 100%;
  height: 120px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  display: block;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
}

.placeholder__text {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.check__cont {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.check__text {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.policy__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}

.icon__check {
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__property {
  fill: transparent;
}

.checkbox:checked + .check__text > .icon__check {
  background-color: var(--accent-color);
  border: none;
}

.close__cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */