.logo-icon {
  fill: currentColor;
  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: white;
  }
}

.header__logo-icon {
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #03a9f4;
  }
}
